$primary-background: #A7D2CB;
$text-color: #414141;
$body-font-family: 'Open Sans';



.manager {
  color: $text-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: -8px 2px 9px 8px;
}


.hidden {
  display: none;
}

.search-guest {
  @extend .manager;
}

.manager-dashboard {
  @extend .manager;
}